@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B2430;
}

.App {
    display: flex;
    gap: 70px;
    align-items: center;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 20px;

    @media (max-width: 991px) {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
    }

    section:first-of-type {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        .reload {
            background-color: transparent;
            border: 2px solid #FFAA4C;
            border-radius: 6px;
            color: #FFAA4C;
            padding: 10px;
            font-size: 18px;
            cursor: pointer;
            box-shadow: inset 0 0 10px -3px #ffaa4c;
            text-shadow: 0 0 10px -3px #ffaa4c;
            opacity: .9;

            &:hover { opacity: 1; }
        }
    }

    section:last-of-type {
        flex: 1;
        
        @media (max-width: 991px) {
            flex: initial;
        }
    }
}